@page "/addpage"
@inject HttpClient httpClient
@inject NavigationManager NavManager

<h1>Create new user</h1>

<EditForm Model="@student" OnValidSubmit="@HandleAdd">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText placeholder="First Name" id="firstName" @bind-Value="@student.FirstName" />
    <br />
    <InputText placeholder="Last Name" id="lastName" @bind-Value="@student.LastName" />
    <br />
    <InputText placeholder="School" id="school" @bind-Value="@student.School" />
    <br />
    <button type="submit" class="btn btn-success">Submit</button>

    @code { private async void HandleAdd()
        {
            string endpoint = $"{baseUrl}api/students";

            student.StudentId = Guid.NewGuid().ToString();

            await httpClient.PostAsJsonAsync(endpoint, student);
            NavManager.NavigateTo("/");

        } 
    }
</EditForm>

@code {

    private Student student = new Student();
    string baseUrl = "http://localhost:9709/";

}